.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    display: inline-block;
    cursor: pointer;
    transition: color 0.3s;
}
.logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}
.header-content{
    background-color: #fff;
}
.menu-bar{
    text-align: center;
    display: inline-block;
}
.search{
    display: inline-block;
}