.nav-bar{
    background-color: rgb(0, 21, 41);
}
.Fila{
    margin-left:50px;
    margin-top:50px;
    margin-bottom:50px;
}
.scrollbar {
    min-height: calc(100vh - 56px - 15px );
    max-height: calc(100vh - 56px - 15px );
}


